<launch>
  <node name="optitrack_ekf" pkg="optitrack_ekf" type="optitrack_ekf" output="screen">
    <rosparam subst_value="true">
      predict_std:
      - position: 1
      - orientation: 0.1
      - vel: 20
      - angular_vel: 2
      update_std:
      - position: 0.005
      - orientation: 0.001
    </rosparam>
    <rosparam param="frequency">100</rosparam>
  </node>
</launch>
