[submodule "drone_gnc"]
	path = drone_gnc
	url = https://github.com/EPFLRocketTeam/drone_gnc
[submodule "real_time_simulator"]
	path = real_time_simulator
	url = https://github.com/EPFLRocketTeam/real_time_simulator
[submodule "rqt_ez_publisher"]
	path = rqt_ez_publisher
	url = https://github.com/OTL/rqt_ez_publisher
