<launch>
    <group ns="rocket">
        <rosparam file="$(find drone_gnc)/config/rocket_parameters.yaml"/>
    </group>

    <group ns="mpc">
        <rosparam file="$(find drone_gnc)/config/mpc_parameters.yaml"/>
    </group>

    <group ns="filter">
        <rosparam file="$(find drone_gnc)/config/filter_parameters.yaml"/>
    </group>

    <node name="control" pkg="drone_gnc" type="drone_control" machine="gnc_machine" cwd="node" output="screen">
        <rosparam param="target_apogee">[0,0,0.5]</rosparam>
    </node>

<!--    <node name="low_level_control" pkg="drone_gnc" type="low_level_control_node.py" output="screen"/>-->

    <node name="drone_fsm" pkg="drone_gnc" type="drone_fsm" machine="gnc_machine" cwd="node">
        <rosparam param="initial_state">"Idle"</rosparam>
    </node>

    <node name="navigation" pkg="drone_gnc" type="drone_navigation" machine="gnc_machine" cwd="node" output="screen">
        <rosparam param="initial_state">[0,0,0, 0,0,0, 0,0,0,1, 0,0,0, 1]</rosparam>
        <rosparam param="drone_dome">true</rosparam>
    </node>
</launch>


