<launch>
	<node pkg="mavros" type="mavros_node" name="mavros" clear_params="true" output="screen" respawn="false" machine="gnc_machine">
		<param name="fcu_url" value="/dev/ttyS0:921600" />
		<param name="gcs_url" value="" />
		<param name="target_system_id" value="1" />
		<param name="target_component_id" value="1" />
		<param name="fcu_protocol" value="v2.0" />

		<rosparam command="load" file="$(find mavros)/launch/px4_pluginlists.yaml" />
		<rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
	</node>

    <node name="drone_mavros_interface" pkg="drone_gnc" type="drone_mavros_interface" machine="gnc_machine">
		<param name="enable_rc_control" value="false" />
		<rosparam param="servo1_offset">-9.1</rosparam>
		<rosparam param="servo2_offset">6</rosparam>
	</node>
</launch>


