<launch>
    <group ns="rocket">
        <rosparam file="$(find drone_optimal_control)/config/drone_properties.yaml"/>
    </group>

    <group ns="mpc">
        <rosparam file="$(find drone_optimal_control)/config/mpc_config.yaml"/>
    </group>

    <node name="control_devel" pkg="drone_optimal_control" type="control_devel" cwd="node" output="screen">
    </node>
</launch>


