<launch>
    <group ns="visualization">
        <rosparam file="$(find drone_simulator_interface)/config/visualization_parameters.yaml"/>
    </group>

    <node name="GUI_interface" pkg="real_time_simulator" type="GUI_interface" />
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find drone_simulator_interface)/GUI/drone_GUI.perspective"/>
</launch>


