<launch>
    <arg name="path" default="log/log.bag" />

    <group ns="rocket">
        <rosparam file="$(find drone_gnc)/config/rocket_parameters.yaml"/>
    </group>

    <group ns="navigation">
        <rosparam file="$(find drone_gnc)/config/filter_parameters.yaml"/>
    </group>

    <group ns="control/mpc">
        <rosparam file="$(find drone_gnc)/config/control_mpc_parameters.yaml"/>
    </group>

    <group ns="guidance/mpc">
        <rosparam file="$(find drone_gnc)/config/guidance_mpc_parameters.yaml"/>
    </group>

    <param name="log_file" value="$(arg path)" />

    <node name="plot" pkg="drone_utils" type="plot_timings.py" output="screen"/>
</launch>


