<launch>

    <group ns="visualization">
        <rosparam file="$(find drone_simulator_interface)/config/visualization_parameters.yaml"/>
    </group>

    <rosparam param="/is_simu">false</rosparam>

    <group>
        <machine name="gnc_machine" address="ert.local" user="drone" password="ert2021" timeout="10"
                 env-loader="/home/drone/drone_ws/devel/remote_env_loader.sh"/>
<!--        <node machine="gnc_machine" name="optitrack_client" pkg="drone_optimal_control" type="optitrack_client"/>-->
        <include file="$(find drone_optimal_control)/launch/drone_optimal_control.launch"/>
        <include file="$(find drone_optimal_control)/launch/drone_mavros_interface.launch"/>
        <node name="recorder_pi" pkg="rosbag" type="record" machine="gnc_machine"
              args="record /drone_state -O /home/drone/drone_ws/log.bag"/>
    </group>

    <!-- local interface -->
    <group>
        <machine name="local" address="localhost"/>

        <node name="GUI_interface" pkg="real_time_simulator" type="GUI_interface" machine="local"/>
        <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" machine="local" 
              args="--perspective-file $(find drone_utils)/GUI/drone_remote_control_GUI.perspective"/>

        <node name="recorder" pkg="rosbag" type="record" machine="local"
              args="record -a -O $(find drone_utils)/log/log.bag"/>
    </group>

</launch>


