<launch>

    <group ns="visualization">
        <rosparam file="$(find drone_simulator_interface)/config/visualization_parameters.yaml"/>
    </group>

    <rosparam param="/is_simu">false</rosparam>

    <group>
        <machine name="gnc_machine" address="ert.local" user="drone" password="ert2021" timeout="10"
                 env-loader="/home/drone/drone_ws/devel/remote_env_loader.sh"/>
        <!-- <node machine="gnc_machine" name="optitrack_client" pkg="drone_gnc" type="optitrack_client"/> -->
        <include file="$(find drone_gnc)/launch/drone_gnc.launch"/>
        <include file="$(find drone_gnc)/launch/drone_mavros_interface.launch"/>
    </group>

    <!-- local interface -->
    <group>
        <machine name="local" address="localhost"/>
        <!-- transform drone_kalman to rocket state for visualization-->
        <node name="drone_to_rocket_state" pkg="topic_tools" type="transform" machine="local" 
        args="/drone_state /rocket_state real_time_simulator/State
              'real_time_simulator.msg.State(twist=m.twist, pose=m.pose, propeller_mass=0)'
              --import real_time_simulator"/>

        <node name="GUI_interface" pkg="real_time_simulator" type="GUI_interface" machine="local"/>
        <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" machine="local" 
              args="--perspective-file $(find drone_utils)/GUI/drone_remote_control_GUI.perspective"/>
        <node name="recorder" pkg="rosbag" type="record" machine="local"
              args="record -a -O $(find drone_utils)/log/log.bag"/>
    </group>

</launch>


