<launch>
    <group ns="rocket">
        <rosparam file="$(find drone_gnc)/config/drone_properties.yaml"/>
    </group>

    <group ns="control/mpc">
        <rosparam file="$(find drone_gnc)/config/mpc_config.yaml"/>
    </group>

    <group ns="visualization">
        <rosparam file="$(find drone_simulator_interface)/config/visualization_parameters.yaml"/>
    </group>

    <machine name="gnc_machine" address="localhost"/>
    <rosparam param="/is_simu">false</rosparam>

<!--    <include file="$(find drone_gnc)/launch/drone_gnc.launch"/>-->
<!--    <node name="drone_to_rocket_state" pkg="topic_tools" type="transform"-->
<!--          args="/drone_state /rocket_state real_time_simulator/State-->
<!--              'real_time_simulator.msg.State(twist=m.twist, pose=m.pose, propeller_mass=0)'-->
<!--              &#45;&#45;import real_time_simulator"/>-->

<!--    <node name="control" pkg="drone_gnc" type="drone_control" machine="gnc_machine" cwd="node">-->
<!--        <rosparam param="target_apogee">[0,0,1]</rosparam>-->
<!--        <rosparam param="no_guidance">true</rosparam>-->
<!--    </node>-->

    <node name="GUI_interface" pkg="real_time_simulator" type="GUI_interface" />
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find drone_utils)/GUI/rosbag_replay_GUI.perspective"/>
</launch>


