<launch>
    <group ns="visualization">
        <rosparam file="$(find drone_simulator_interface)/config/visualization_parameters.yaml"/>
    </group>

    <node name="GUI_interface" pkg="real_time_simulator" type="GUI_interface" />
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find drone_utils)/GUI/rosbag_replay_GUI.perspective"/>


<!--    <group ns="mpc">-->
<!--        <rosparam file="$(find drone_gnc)/config/tracking_mpc_parameters.yaml"/>-->
<!--    </group>-->

<!--    <group ns="rocket">-->
<!--        <rosparam file="$(find drone_gnc)/config/rocket_parameters.yaml"/>-->
<!--    </group>-->
<!--    <node name="control" pkg="drone_gnc" type="drone_control" cwd="node" output="screen">-->
<!--        <rosparam param="target_apogee">[0,0,1]</rosparam>-->
<!--    </node>-->
<!--    <node name="simulator_interface" pkg="drone_simulator_interface" type="simulator_interface" cwd = "node" />-->
</launch>


