<launch>
    <!-- Controller architecture -->
    <arg name="main_controller" default="lqr"/>
    <arg name="tracking_controller" default="none"/>
    <arg name="tracking_type" default="state"/>
    <arg name="controller_frequency" default="20.0"/>

    <!-- Use true simulator value ('ground truth') or Kalman estimate -->
    <arg name="use_ground_truth_state" default="true"/>

    <!-- Configuration for drone_optimal_control -->
    <arg name="use_guidance" default="false"/>
    <arg name="use_fixed_guidance" default="false"/>

    <!-- Self-explanatory -->
    <arg name="is_simulation" default="true"/>


    <include file="$(find drone_utils)/launch/simulator.launch"/>

    <include file="$(find drone_utils)/launch/drone_gnc.launch" pass_all_args="true"/>

    <include file="$(find drone_utils)/launch/gui.launch"/>

    <!-- TODO do not record all the topics-->
    <node pkg="rosbag" type="record" name="recorder" args="record -a -O $(find drone_utils)/log/log.bag"/>
</launch>


