<launch>
    <arg name="use_guidance" default="false"/>
    <arg name="use_fixed_guidance" default="false"/>
    <arg name="use_ground_truth_state" default="true"/>

    <rosparam param="/is_simu">true</rosparam>
<!--    <rosparam param="/use_sim_time">true</rosparam>-->

    <include file="$(find drone_utils)/launch/simulator.launch"/>

    <include file="$(find drone_utils)/launch/drone_gnc.launch" pass_all_args="true"/>

    <include file="$(find drone_utils)/launch/gui.launch"/>

    <node pkg="rosbag" type="record" name="recorder" args="record -a -O $(find drone_utils)/log/log.bag"/>
</launch>


