<launch>

    <group ns="rocket">
        <rosparam file="$(find tvc_simulator)/config/prototypes/drone/rocket_parameters.yaml"/>
    </group>

    <!--    <group ns="environment">-->
    <!--        <rosparam file="$(find tvc_simulator)/config/prototypes/drone/environment_parameters.yaml"/>-->
    <!--    </group>-->

    <!--    <group ns="perturbation">-->
    <!--        <rosparam file="$(find tvc_simulator)/config/perturbations_parameters.yaml"/>-->
    <!--    </group>-->

    <!--  <group ns="visualization">-->
    <!--    <rosparam file="$(find tvc_simulator)/config/prototypes/drone/visualization_parameters.yaml" />-->
    <!--  </group>-->

    <!--  <group ns="mpc">-->
    <!--    <rosparam file="$(find tvc_simulator)/config/prototypes/drone/mpc_parameters.yaml" />-->
    <!--  </group>-->

    <group ns="filter">
        <rosparam file="$(find tvc_simulator)/config/prototypes/drone/filter_parameters.yaml"/>
    </group>

    <node name="fast_integrator" pkg="tvc_simulator" type="fast_integrator" cwd="node" output ="screen">
        <rosparam param="state_topic"> "/rocket_state2" </rosparam>
    </node>

    <node name="navigation" pkg="tvc_simulator" type="drone_navigation" cwd="node" output="screen"/>
    <node name="basic_navigation" pkg="tvc_simulator" type="drone_basic_navigation" cwd="node" output="screen"/>

    <node pkg="rosbag" type="record" name="recorder" args="record -a -O $(find tvc_simulator)/log/log.bag"/>

</launch>


